.item 
  %a.item__link(href = "#")
  .item__image  
    = image_tag "/assets/material/pict/pict-reason-01.jpg", class: "item-image"
  .item__body
    .item__body--name
      iPhone 11 pro
    .item__body--middle
      .item__body--middle__price
        100円
      .item__body--middle__favorite
        = link_to "#" do
          %i.fa.fa-star
        %p.favorit-number 0
    .item__body--fee
      (税込)