.header
  header
  
.main
  .main__top-banner
    top-banner
  
  .main__introduction
    introduction
  
  .main__middle-banner
    middle-banner
  
  .main__feature
    feature

  .main__picup-category
    picup-category
  
  .main__picup-bland
    picup-bland

  .main__bottom-banner
    bottom-banner


.footer 
  footer