.card{
  width: 100vw;
  background-color: white;
  &__card-main{
    width: 100vh;
    background-color: #f5f5f5;
    &__mask{
      display: flex;
      width: 1020px;
      margin: 0 auto;
      &__side{

      }
      &__contents{
        width: 700px;
        background-color: #FFFFFF;
        margin: 0 auto;
        &__header{
          height: 60px;
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          line-height: 60px;
          border-bottom: 1px solid #f5f5f5;
        }
        &__body{
          width: 700px;
          background-color: #FFFFFF;
          padding: 25px 16px 40px;
          &__card{
            width: 345px;
            margin: 0 auto;
            padding-bottom: 25px;
            &__top{
              &__line{
                display: flex;
                &__left{
                  font-size: 14px;
                  font-weight: bold;
                }
                &__right{
                  width: 32px;
                  height: 20px;
                  line-height: 20px;
                  text-align: center;
                  font-size: 12px;
                  background-color: #3CCACE;
                  color: white;
                  margin-left: 8px;
                }
              }
            }
            &__middle{
              margin-top: 8px;
              &__box{
                width: 345px;
                height: 50px;
                padding: 10px 16px 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
              }
            }
            &__bottom{
              &__icon{
              
                &__credit{
                margin-top: 10px;
                width: 294px;
                height: 33px;
                }
              }
            }
          }
          &__effective{
            width: 345px;
            margin: 0 auto;
            padding-bottom: 25px;
            &__top{
              display: flex;
              &__left{
                font-size: 14px;
                font-weight: bold;
              }
              &__right{
                width: 32px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                font-size: 12px;
                background-color: #3CCACE;
                color: white;
                margin-left: 8px;
              }
            }
            &__bottom{
              margin-top: 8px;
              display: flex;
              line-height: 50px;
              &__month{
                position: relative;
                font-size: 14px;
                width: 130px;
                height: 50px;
                color: #333333;
                &__text{
                  font-size: 14px;
                  margin-right: 8px;
                  margin-left: 8px;
                }
                &__icon{
                  position: absolute;
                  right: 10px;
                  font-size: 20px;
                  color: #888;
                  line-height: 50px;

                }
                &__select{
                  width: 130px;
                  height: 50px;
                  font-size: 16px;
                  padding: 0px 16px;
                  padding-right: 8px;
                  border: 1px solid #ccc;
                  background-color: #FFFFFF;
                  cursor: pointer;
                }
              }
              &__year{
                position: relative;
                width: 130px;
                height: 50px;
                color: #333333;
                &__icon{
                  position: absolute;
                  right: 10px;
                  font-size: 20px;
                  color: #888;
                  line-height: 50px;
                }
                &__select{
                  width: 130px;
                  height: 50px;
                  font-size: 16px;
                  padding: 0px 16px;
                  cursor: pointer;
                  border: 1px solid #ccc;
                  background-color: #FFFFFF;
                }
                &__text{
                  font-size: 14px;
                  margin-right: 8px;
                  margin-left: 8px;
                }
              }
            }
          }
          &__security{
            width: 345px;
            margin: 0 auto;
            padding-bottom: 25px;
            &__top{
              display: flex;
              &__left{
                font-size: 14px;
                font-weight: bold;
              }
              &__right{
                width: 32px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                font-size: 12px;
                background-color: #3CCACE;
                color: white;
                margin-left: 8px;
              }
            }
            &__bottom{
              margin-top: 8px;
              position: relative;
              &__box{
                width: 345px;
                height: 50px;
                padding: 10px 16px 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
              }
              &__note{
                position: absolute;
                right: 0px;
                display: flex;
                &__question{
                  margin-top: 10px;
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  border-radius: 50%;
                  background: #0099e8;
                  color: #fff;
                  line-height: 14px;
                  font-size: 12px;
                  text-align: center;
                  margin-right: 3px;
                }
                &__text{
                  font-size: 14px;
                  color: #0099E8;
                  margin-top: 8px;
                }
                
                .open{
                  opacity: 1;
                  visibility: visible;
                }
                &__tooltip{
                  position: absolute;
                  top: 50px;
                  right: -10px;
                  background-color: #eee;
                  width: 380px;
                  height: 170px;
                  text-align: center;
                  padding: 15px;
                  border-radius: 6px;
                  -webkit-transition: all ease-out .3s;
                  transition: all ease-out .3s;
                  opacity: 0;
                  visibility: hidden;
                  &__image{
                    
                  }
                }
                &__tooltip:before{
                  content: '';
                  position: absolute; /* 位置固定 */
                  top: -28px;
                  left: 85%;
                  margin-left: 0px;
                  border-width: 0 10px 10px 10px;
                  border: 14px solid transparent; /* 線幅の設定 */
                  border-bottom-color: #eee; /* 吹き出しの地と同じ色 */
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  -ms-transition: all 0.5s;
                  -o-transition: all 0.5s;
                  transition: all 0.5s;
                }
              }
            }
          }
          &__btn{
            width: 345px;
            margin: 0 auto;
            padding-bottom: 25px;
            z-index: 1;
            &__box{
              margin-top: 25px;
              width: 345px;
              height: 50px;
              background-color: #3CCACE;
              color: #FFFFFF;
              text-align: center;
              line-height: 50px;
              border: solid 1px #3CCACE;
              cursor: pointer;
              z-index: 1;
    
            }
          }
        }
      }
      &__link{
        margin-top: 50px;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}

.inp_error{border: 1px solid #F88A8A;
}
.error_m {
	font-size: 15px;
	font-weight: normal;
	color: #FF4040;
	display: block;
	margin: 0;
}