.card-main{
  height: calc(100vh - 150px);
  padding-bottom: 150px;
  &__contents{
    &__content{
      padding: 65px;
      width: 700px;
      height: 370px;
      &__theme{
        width: 320px;
        height: 16px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
      &__menu{
        width: 320px;
        height: 150px;
        margin: 0 auto;
        position: relative;
        &__brand{
          margin-top: 20px;
        }
        &__number{
        padding-top: 5px;
        font-size: 16px;
        }
        &__date{
          padding-top: 10px;
        }
        &__delete{
          
          &__btn{
            position: absolute;
            right: 0px;
            top: 50px;
            width: 80px;
            height: 25px;
            margin-top: 30px;
            font-size: 14px;
            border-radius: 4px;
            border: solid 1px #EA352D;
            color: #EA352D;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      &__info{
        width: 580px;
        height: 50px;
        position: relative;
        border-top: solid 1px #f5f5f5;
        &__text{
          position: absolute;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }
}