@import "mixins";

.main {

  .top-banner {
    @include banner 
  }
  
  .introduction {
    padding: 60px 20px;
    &__reason-for-chose {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative; 
    }
    &__reason-for-chose::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__reason-lists {
      .lists {
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &--picture {
            position: relative;
            margin-bottom: 20px;
            .number {
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
            .reason-picture {
              width: 100%;
              vertical-align: bottom;
            }
          }
          &--text {
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
          &--text span {
            color: #3CCACE;
          }
          &--discription {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0 ;
          }
        }
        
      }
    }
  }
  
  .middle-banner {
    @include banner (
      image-url("material/pict/bg-topMiddleDl-pict.jpg"),
      400px, 
      27px, 
      0 60, 
      1040px, 
      18px,
      1.4,
      1.5,
      '',
      '',
      '',
      '',
      bold
    )
  }
  
  .feature {  
    padding: 60px 100px;
    background-color: #fff;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative; 
    }
    &__title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__feature-lists {
      max-width: 1060px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      .list {
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__picture {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .feature-picture {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__discription {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  
  .pic-up {
    padding: 80px;
    background-color: #f8f8f8;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__content {
      text-align: center;
      .item-links {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
      }
      .items {
        max-width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap; 
      }
    }
  }
  
  .bottom-banner {
    @include banner (
      image-url("material/pict/bg-appBanner-pict.jpg"), 
      400px,
      24px,
      100px 40px,
      1040px,
      35px,
      1.4,
      1.5,
      flex,
      center,
      center,
      '',
      bold
   )
  }
}

// .footer {
//   background-color: #272727;
//   padding: 60px 0;
//   color: white;
//   text-align: center;
//   &__contents {
//     max-width: 840px;
//     margin: 0 auto;
//     display: flex;
//     &--content {
//       display: flex;
//       flex-direction: column;
//       width: calc(1 / 3 * 100%);
//       margin: 0 2% 0 0;
//       .list {
//         &__title {
//           margin: 0 0 20px;
//           font-size: 16px;
//           font-weight: bold;
//         }
//         &__links {
//           .link {
//             display: block;
//             color: #fff;
//             text-decoration: none;
//             font-size: 12px;
//             line-height: 32px;
//           }
//           .link:hover{
//             text-decoration: underline;
//           }
//         }
//       }
//     }
//   }
//   &__logo {
//     max-width: 160px;
//     width: 100%;
//     margin: 0 auto;
//     .logo-btn{
//       width: 160px;
//     }
//   }
// }
