@import "modules/mixin";
.mypage{
  width: 100vw;
  height: 2130px;
  background-color: white;
  &__header{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    // background-color: white;
    &__mask{
      width: 1020px;
      margin: 0 auto;
      &__menu{
        height: 100px;
        // background-color: white;
        &__top{
          padding-top: 8px;
          height: 40px;
          width: 100%;
          display: flex;
          &__icon{
            width: 134px;
            height: 36px;
          }
          &__search{
            width: 841px;
            height: 40px;
            margin-left: 45px;
            &__form{
              line-height: 40px;
              width: 787px;
              height: 40px;
              border: 1px solid;
              border-color: #C7C7C7;
              padding-left: 10px;
              padding-right: 42px;
              background-color: #f5f5f5;
              border-radius: 4px;
              position: relative;
              &__text-field{
                border: 0px;
                width: 787px;
                height: 40px;
                // background-color: #f5f5f5;
              }
              &__icon{
                position: absolute;
                right: 11px;
                bottom: 11px;
              }
            }
          }
        }
        &__nav-box{
          height: 44px;
          margin-top: 8px;
          display: flex;
          justify-content: space-between;
          &__left{
            width: 307.250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            &__item{
              display: flex;
              align-items: center;
              text-decoration: none;
              color: black;
              &__icon{
                float: left;
                margin-right: 4px;
                color: red;
                width: 18px;
                height: 18px;
              }
              &__parent{
                width: 148.375px;
                line-height: 44px;
                position: relative;
                &__child{
                  display: none;
                  position: relative;
                  &__gchild{
                    display: none;
                    position: relative;
                    &__ggchild{
                      display: none;  
                    }
                  }
                }
              }
              
              &__parent:hover &__parent__child{
                display: inline-block;
                position: absolute;
                top: 44px;
                left: -23px;
                background-color: white;
                border: 1px solid;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-color: #EEEEEE;
                width: 230px;
                padding-left: 22px;
                &__parent__child__gchild{
                  display: none;
                  
                }
              }
              &__parent:hover &__parent__child:hover &__parent__child__gchild{
                display: inline-block;
                position: absolute;
                top: 0;
                right: -230px;
                background-color: white;
                border: 1px solid;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-color: #EEEEEE;
                width: 230px;
                font-size: 12px;
                &__parent__child__gchild__ggchild{
                  display: none;
                }
              }
              &__parent:hover &__parent__child:hover &__parent__child__gchild:hover &__parent__child__gchild__ggchild{
                display: inline-block;
                position: absolute;
                top: 0;
                right: -230px;
                background-color: white;
                border: 1px solid;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-color: #EEEEEE;
                width: 230px;
                font-size: 12px;
              }
              &__list:hover &__list__children{
                display: inline-block;
              }
            }
            
          }

          
          &__right{
            width: 520.312px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            &__icon{
              float: left;
              line-height: 44px;
            }
            &__list{
              margin-left: 10px;
              display: inline-block;
              line-height: 44px;
            }
          }
        }
      }
    }
    &__nav-mask{
      border: 1px solid;
      border-color: #f5f5f5;
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      &__inner{
        margin: 0 auto;
        width: 1020px;
        height: 47px;
        display: flex;
        align-items: center;
        &__item{
          margin-right: 5px;
          font-size: 14px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__main{
    width: 100%;
    height: 1300px;
    margin: 0 auto;
    padding-top: 40px;
    background-color:#F5F5F5;
    &__mask{
      width: 1020px;
      margin: 0 auto;
      display: flex;
      &__left{
        width: 280px;
        margin-right: 40px;
        background-color: #F5F5F5;
        &__nav-head{
          margin-bottom: 5px;
          margin-top: 40px;
          line-height: 16px;
        }
        &__nav-list{
          &__item{
            line-height: 16px;
            padding: 16px;
            background-color: #FAFAFA;
            margin-bottom: 1px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: black;
            &__arrow{
              font-size: 16px;
            }
          }
          &__item:hover &__item__arrow{
            transform: translateX(8px);
            transition: 0.3s;
          }
          &__item--active{
            background-color: #EEEEEE;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      &__right{
        width: 700px;
        &__user-box{
          height: 160px;
          padding-top: 20px;
          padding-bottom: 20px;
          text-align: center;
          display: flex;
          align-items: center;
          &__inner{
            display: block;
            width: 700px;
            height: 130px;
            text-decoration: none;
            color: black;
            &__icon{
              margin: 0 auto;
              width: 60px;
              height: 60px;
            }
            &__name{
              margin: 0 auto;
              margin-top: 5px;
              font-size: 14px;
            }
            &__count{
              margin: 0 auto;
              font-size: 15px;
              margin-top: 5px;
            }
          }
        }
        &__notification{
          height: 243px;
          &__tab{
            height: 72px;
            display: flex;
            &__item{
              width: 350px;
              line-height: 72px;
              text-align: center;
              background-color: #D7D7D7
            }
            &__item--active{
              background-color: white;
              border: 2px solid;
              border-left: 0;
              border-right: 0;
              border-bottom: 0;
              border-color: #FB4B4B;
            }
          }
          &__content{
            height: 169px;
            background-color: #FAFAFA;
            &__item-link{
              height: 48px;
              padding: 16px;
              background-color: #FAFAFA;
              font-size: 14px;
            }
            &__go-list{
              height: 56px;
              padding: 16px;
              line-height: 56px;
              text-align: center;
              font-size: 14px;
              background-color: #FAFAFA;
              &__btn{
                background-color: #EEEEEE;
                display: inline-block;
                width: 668px;
                height: 56px;
                text-decoration: none;
                color: black;
              }
            }
          }
        }
        &__records{
          height: 382px;
          margin-top: 40px; 
          &__head{
            padding-right: 16px;
            padding-left: 16px;
            height: 72px;
            background-color: #FAFAFA;
            line-height: 72px;
          }
          &__tab{
            height: 72px;
            display: flex;
            &__item{
              line-height: 72px;
              width: 350px;
              text-align: center;
              font-size: 16px;
              background-color: #EEEEEE;
            }
            &__item--active{
              background-color: white;
              border: 2px solid;
              border-left: 0;
              border-right: 0;
              border-bottom: 0;
              border-color: #FB4B4B;
            }
          }
          &__content{
            height: 236px;
            background-color: #FFFFFF;
            text-align: center;
            &__icon{
              margin-top: 20px;
              margin-bottom: 20px;
              width: 350px;
            }
            &__text{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  &__footer{
    width: 100%;
    height: 680px;
    background-color: green;
    &__banner{
      width: 100%;
      height: 260px;
      background: lightcoral;
    }
    &__wrapper{
      width: 100%;
      height: 420px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 10px;
      background-color: lightseagreen;
      &__content{
        width: 1020px;
        background-color: green;
        height: 330px;
        margin: 0 auto;
        display: flex;
        font-size: 12px;
        &__about{
          &__head{
            font-size: 16px;
          }
        }
        &__help-guide{
          &__head{
            font-size: 16px;
          }
        }
        &__privacy{
          &__head{
            font-size: 16px;
          }
        }
        &__lang{
          &__head{
            font-size: 16px;
          }
        }
      }
      &__bottom{
        width: 1020px;
        height: 31px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: purple;
      }
    }
  }
  
}

// sell-btn
.sell-btn{
  width: 90px;
  height: 86px;
  padding: 15px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 1000;
  background-color: #4FCFD3;
  text-align: center;
  &__text{
    line-height: 27px;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
  }
  &__icon{
    width: 54px;
  }
}