.header {
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  background-color: red;

}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__top-banner {
    width: 100%;
    height: 560px;
    background-image: url(/assets/material/pict/bg-mainVisual-pict_pc.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    padding: 0 60px;
    align-items: center;
    position: relative;
    &--content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
      .title {
        font-size: 60px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .sub-title {
        font-size: 18px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .app-btns {
        display: flex;
        margin-top: 24px;
        .app-btn {
          margin-right: 10px;
          width: 180px;
        }
      } 
    }
    &--picture {
      position: absolute;
      top: 0;
      right: 210px;    
    }
  }
  &__introduction {
  height: 640px ;
  background-color: salmon;

  }
  &__middle-banner {
    height: 400px;
    background-image: url(/assets/material/pict/bg-topMiddleDl-pict.jpg); 
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 0 60px;
    align-items: center;
    &--content {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      .title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
       
      }
      .sub-title {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .app-btns {
        display: flex;
        margin-top: 24px;
        .app-btn {
          margin-right: 10px;
          width: 180px;
        }
      } 
    }
  }
  &__feature {
    height: 600px;
    background-color: seagreen;
  }
  
  &__picup-category {
    height: 425px;
    background-color: lightblue;

  }
  &__picup-bland {
    height: 425px;
    background-color: lightyellow;

  }
  &__bottom-banner {
    background-image: url(/assets/material/pict/bg-appBanner-pict.jpg); 
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 40px;
    &--content {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      .title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
       
      }
      .sub-title {
        font-size: 35px;
        line-height: 1.5;
      }
      .app-btns {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        .app-btn {
          margin-right: 10px;
          width: 180px;
        }
      } 
    }
  }
}

.footer {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background-color: #272727;
  padding: 60px 0;
  color: white;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &--left {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .furima-info {
        &__title {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &__links {
          .link {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
          .link:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &--middle {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .view-furima {
        &__title {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &__links {
          .link {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
          .link:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .help-gide {
        &__title {
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        &__links {
          .link {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
          .link:hover{
            text-decoration: underline;
          }
          
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .logo-btn{
      width: 160px;
    }
  }
}
