.header {
  height: 100px;

}

.main {
  &__top-banner {
    height: 560px;
    background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
  &__introduction {
    height: 640px ;
 
  }
  &__middle-banner {
    height: 400px;
    background-image: url(/assets/bg-topMiddleDl-pict.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__feature {
    height: 600px;
   
  }
  
  &__picup-category {
    height: 425px;
    background-color: #f8f8f8;

  }
  &__picup-bland {
    height: 425px;
    background-color: #f8f8f8;

  }
  &__bottom-banner {
    height: 360px;
    background-image: url(/assets/bg-appBanner-pict.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer {
  height: 350px;
  background-color: #272727;

}