* {
  box-sizing: border-box;
}

.header{
  background-color: #f5f5f5;
  height: 130px;
  width: 100%;
  a{
    line-height: 150px;
    .header__image{
      width: 170px;
      height: 50xp;
      margin-left: 200px;
    }
  }
}

.main{
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  
  &__box{
    margin: 0 auto;
    background-color: white;
    width: 700px;
    height: 1300px;
    &__header{
      border: solid 1px #f5f5f5;
      width: 701px;
      height: 100px;
      font-size: 22px;
      line-height: 100px;
      text-align: center;
      color: #3f3b3b;
    }
    &__contents{
      padding-top: 40px;
 
      &__one{
        margin: 0 auto;
        width: 350px;
        height: 70px;
        &__top{
          display: flex;
          &__nickname{
            font-size: 14px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
            margin-left: 8px;
          }
        }
        &__form{
          margin-top: 8px;
          height: 50px;
          width: 350px;
          font-size: 16px;
          padding: 10px 16px 8px;
          color: #333333;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      &__two{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        &__top{
          display: flex;
          &__email{
            font-size: 14px;
            margin-right: 8px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
          }
        }
        &__form{
          height: 50px;
          width: 100%;
          margin-top: 8px;
          color: #333333;
          padding-left: 10px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      &__three{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 162px;
        &__top{
          display: flex;
          &__pass{
            font-size: 14px;
            margin-right: 8px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          height: 50px;
          width: 350px;
          padding: 10px 16px 8px;
          color: #333333;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        &__middle{
          margin-top: 8px;
          margin-bottom: 10px;
          font-size: 14px;
          color: #888888;
        }
        &__bottom{
          font-size: 14px;
          color: #333333;
        }
      }
      &__four{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 122px;
        &__top{
          font-size: 16px;
          color: #333333;
        }
        &__bottom{
          font-size: 14px;
          color: #333333;
          margin-top: 8px;
        }
      }
      &__five{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        &__top{
          display: flex;
          &__name{
            font-size: 14px;
            margin-right: 8px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          display: flex;
          &__family{
            color: #333333;
            height: 50px;
            width: 150px;
            margin-right: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          &__last{
            color: #333333;
            height: 50px;
            width: 150px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &__six{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        &__top{
          display: flex;
          &__kana{
            font-size: 14px;
            margin-right: 8px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          display: flex;
          &__j-family{
            color: #333333;
            height: 50px;
            width: 150px;
            margin-right: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          &__j-last{
            color: #333333;
            height: 50px;
            width: 150px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &__seven{
        padding-bottom: 32px;
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 120px;
        &__top{
          display: flex;
          &__birth{
            font-size: 14px;
            margin-right: 8px;
          }
          &__hitu{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #25e7ee;
            color: white;
          }
        }
        &__middle{
          margin-top: 8px;
          display: flex;


          &__year-box{
            -webkit-appearance: none;
            background-color: white;
            color: #333333;
            height: 50px;
            width: 75px;
            margin-right: 8px;
            padding: 10px 16px 8px;
          }
          &__year{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            margin-right: 8px;

            // modify
            display: flex;
            position: relative;
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
          &__month-box{
            -webkit-appearance: none;
            background-color: white;
            color: #333333;
            height: 50px;
            width: 75px;
            margin-right: 8px;
            padding: 10px 16px 8px;
          }
          &__month{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            margin-right: 8px;
            display: flex;
            position: relative;
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
          &__date-box{
            -webkit-appearance: none;
            background-color: white;
            color: #333333;
            height: 50px;
            width: 75px;
            margin-right: 8px;
            padding: 10px 16px 8px;
          }
          &__date{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            display: flex;
            position: relative;
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
        }
        &__bottom{
          font-size: 14px;
          width: 350px;
          height: 40px;
          color: #888888;
          margin-top: 3px;
        }
      }
      &__eight{
        padding-top: 70px;
        margin: 0 auto;
        width: 350px;
        height: 200px;
        position: relative;
        &__top{
          font-size: 14px;
          color: #333333;
          width: 350px;
          height: 40px;
          a{
            text-decoration: none;
            color: #EA352D;
          }
        }
        &__middle{
          width: 350px;
          height: 45px;
          font-size: 14px;
          color: #ffffff;
          background-color: #25e7ee;
          line-height: 45px;
          text-align: center;
          margin-top: 32px;
          text-decoration: none;
          touch-action: manipulation;
          border: 1px solid #ffffff;
          a{
            
          }
        }
        &__bottom{
          a{
            position: absolute;
            margin-top: 30px;
            right: 0px;
            color: #EA352D;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
      &__nine{
        padding-top: 70px;
        width: 350px;
        height: 50px;
        margin: 0 auto;
        &__text{
        padding: 8px 16px;
        font-size: 12px;
        color: #333333;
        background-color: #f5f5f5;
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.footer{
  background-color: #f5f5f5;
  width: 100%;
  height: 150px;
  padding: 20px;
  z-index: 1;
  &__box{
    margin: 0 auto;
    height: 100px;
    width: 450px;
    &__menu{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      &__privacy{
        
        display: block;
        padding-left: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
      &__kiyaku{
        display: block;
        width: 100px;
        height: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
      &__torihiki{
        display: block;
        padding-right: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
    }
    &__image{
      width: 130px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding-right: 10px;
    }
    &__bottom{
      font-size: 12px;
      height: 40px;
      width: 130px;
      text-align: center;
      margin: 0 auto;
    }
  }
}