* {
  box-sizing: border-box;
}

.devise-header{
  background-color: #f5f5f5;
  height: 130px;
  width: 100%;
  &__image{
    width: 500px;
    height: 130px;
    margin: 0 auto;
    &__icon{
      width: 170px;
      height: 50px;
      margin-left: 150px;
    }
    a{
      line-height: 150px;
    }
  }
}

.main{
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  
  &__box{
    margin: 0 auto;
    background-color: white;
    width: 700px;
    height: 1350px;
    &__header{
      border-bottom: solid 1px #f5f5f5;
      width: 701px;
      height: 100px;
      font-size: 22px;
      line-height: 100px;
      text-align: center;
      color: #3f3b3b;
    }
    &__contents{
      padding-top: 40px;
      margin-top: 10px;
      &__nickname{
        margin: 0 auto;
        width: 350px;
        height: 70px;
        &__top{
          font-weight: bold;
          display: flex;
          &__left{
            font-size: 14px;
            font-weight: bold;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
            margin-left: 8px;
          }
        }
        &__form{
          margin-top: 8px;
          height: 50px;
          width: 350px;
          font-size: 16px;
          padding: 10px 16px 8px;
          color: #333333;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
      &__email{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        &__top{
          font-weight: bold;
          display: flex;
          &__left{
            font-size: 14px;
            font-weight: bold;
            margin-right: 8px;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &__form{
          height: 50px;
          width: 100%;
          margin-top: 8px;
          color: #333333;
          padding-left: 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        #email_error__color{
          color: red;
        }
      }
      &__pass{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 162px;
        margin-bottom: 60px;
        &__top{
          font-weight: bold;
          display: flex;
          &__left{
            font-size: 14px;
            font-weight: bold;
            margin-right: 8px;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          height: 50px;
          width: 350px;
          padding: 10px 16px 8px;
          margin-bottom: 10px;
          color: #333333;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        &__repeat{
          margin: 8px 0;
          height: 50px;
          width: 350px;
          padding: 10px 16px 8px;
          
          color: #333333;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        &__repeat{
          height: 50px;
          width: 100%;
          margin-top: 8px;
          color: #333333;
          padding-left: 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
        &__middle{
          margin-top: 12px;
          margin-bottom: 10px;
          font-size: 14px;
          color: #888888;
        }
        #password{
          -webkit-appearance: checkbox;
        }
        &__bottom{
          font-size: 14px;
          color: #333333;
        }
      }
      &__ident{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 122px;
        &__top{
          font-size: 16px;
          font-weight: bold;
          color: #333333;
          font-weight: bold;
          margin-top: 45px;
        }
        &__bottom{
          font-size: 14px;
          color: #333333;
          margin-top: 8px;
        }
      }
      &__name{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        &__error li{
          display: inline;
          margin-right:5px;
        }
        &__top{
          font-weight: bold;
          display: flex;
          margin: 25px 8px 0 0;
          &__left{
            font-size: 14px;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          display: flex;
          &__family{
            color: #333333;
            height: 50px;
            width: 150px;
            margin-right: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          &__last{
            color: #333333;
            height: 50px;
            width: 150px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &__kana{
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 102px;
        margin-top: 30px;
        &__error li{
          display: inline;
          font-size: 14px;
          margin-right: 5px;;
        }
        &__top{
          font-weight: bold;
          display: flex;
          &__left{
            font-size: 14px;
            font-weight: bold;
            margin-right: 8px;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &__form{
          margin-top: 8px;
          display: flex;
          &__j-family{
            color: #333333;
            height: 50px;
            width: 150px;
            margin-right: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
          &__j-last{
            color: #333333;
            height: 50px;
            width: 150px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
          }
        }
      }
      &__birth{
        padding-bottom: 32px;
        padding-top: 32px;
        margin: 0 auto;
        width: 350px;
        height: 120px;
        &__top{
          font-weight: bold;
          display: flex;
          &__left{
            font-size: 14px;
            font-weight: bold;
            margin-right: 8px;
          }
          &__right{
            width: 32px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &__middle{
          margin-top: 8px;
          display: flex;
          &__year{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            margin-right: 8px;
            display: flex;
            position: relative;
            &__box{
              -webkit-appearance: none;
              background-color: white;
              color: #333333;
              height: 50px;
              width: 75px;
              margin-right: 8px;
              padding: 10px 16px 8px;
            }
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
          &__month{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            margin-right: 8px;
            display: flex;
            position: relative;
            &__box{
              -webkit-appearance: none;
              background-color: white;
              color: #333333;
              height: 50px;
              width: 75px;
              margin-right: 8px;
              padding: 10px 16px 8px;
            }
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
          
          &__date{
            color: #333333;
            font-size: 14px;
            line-height: 50px;
            display: flex;
            position: relative;
            &__box{
              -webkit-appearance: none;
              background-color: white;
              color: #333333;
              height: 50px;
              width: 75px;
              margin-right: 8px;
              padding: 10px 16px 8px;
            }
            &__chevron{
              position: absolute;
              right: 25px;
              bottom: 15px;
              color: #888888;
              font-size: 20px;
            }
          }
        }
        &__bottom{
          font-size: 14px;
          width: 350px;
          height: 40px;
          color: #888888;
          margin-top: 3px;
        }
      }
      &__next{
        padding-top: 70px;
        margin: 0 auto;
        width: 350px;
        height: 200px;
        position: relative;
        &__top{
          font-size: 14px;
          color: #333333;
          width: 350px;
          height: 40px;
          
          a{
            text-decoration: none;
            color: #EA352D;
            
          }
        }
        &__middle{
          width: 350px;
          height: 45px;
          font-size: 14px;
          color: #ffffff;
          background-color: #3CCACE;
          line-height: 45px;
          text-align: center;
          margin-top: 32px;
          text-decoration: none;
          touch-action: manipulation;
          border: 1px solid #ffffff;
          
        }
        &__bottom{
          &__link{
            position: absolute;
            margin-top: 5px;
            right: 0px;
            color: #EA352D;
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
      &__text{
        padding-top: 20px;
        width: 350px;
        height: 50px;
        margin: 0 auto;
        &__line{
        padding: 8px 16px;
        font-size: 12px;
        color: #333333;
        background-color: #f5f5f5;
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.sub-footer{
  background-color: #f5f5f5;
  width: 100%;
  height: 150px;
  padding: 20px;
  z-index: 1;
  &__box{
    margin: 0 auto;
    height: 100px;
    width: 450px;
    &__menu{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      &__privacy{
        display: block;
        padding-left: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
      &__kiyaku{
        display: block;
        width: 100px;
        height: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
      &__torihiki{
        display: block;
        padding-right: 20px;
        a{
          text-decoration: none;
          color: #333;
          font-size: 12px;
        }
      }
    }
    &__image{
      width: 130px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding-right: 10px;
    }
    &__bottom{
      font-size: 12px;
      height: 40px;
      width: 130px;
      text-align: center;
      margin: 0 auto;
      color: #333
    }
  }
}

#error_explanation{
  display: none;
}
.inp_error{border: 1px solid #F88A8A;
}
.error_m {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}
.error_margin_top{
  margin-top: 15px;
}
.pass-display{
  display: inline-block;
  background-color: #f5f5f5;
  padding: 4px 8px;
}
.error_expand{
  margin-top: 25px;
}
.error_expandh{
  margin-top: 90px;
}
